# 墨鸦 Strata config

api_key= <api_key>
model=deepseek-v4-flash
context_ttl=60
max_turns=80
ai_url=https://api.deepseek.com
search_provider=bocha
search_api_key= <search_api_key>
show_stats=0
debug=0
temperature=0.5
pat_wake=1
ai_prefix=1
sewarden=1
